<br/><h3><%= @property_result.address %></h3>

<table class='table'>
  <tbody>
    <tr>
      <th scope='col'>Number of Electric Charging Stations within 3 miles: <%= @property_result.station_count %></th>
    </tr>
    <tr>
      <th scope='col'>Percentage of Energy Covered with Solar: <%= @property_result.ac_coverage.round %>%</th>
    </tr>
    <tr>
      <th scope='col'> Green Score: <%= @property_result.green_score %></th>
    </tr>
  </tbody>
</table>
