body {
  background-image: url("https://chinadialogue-production.s3.amazonaws.com/uploads/content/image/10574/ThinkstockPhotos-640916644.jpg");
}
.table th{
  text-align: center;
}

.table{
  margin: 0px auto;
  border-radius: 5px;
  width: 50%;
  float: none;
}

#map {
  height: 400px;
  width: auto;
  margin: 30px;
}
